[2018-04-11 07:28] rahuldcoder opened #1 "Setup GitHub pages"
We should create GitHub pages to have live demo of our app.

[2018-04-11 08:28] pbiswas101 commented on #1
We will.....bear with us!

[2018-04-11 10:00] sethu90 opened #4 "App name can be crowdsourced and picked"
How about a renaming our app with crowd suggestion..I felt task master not conveys the goal setting.Its my personal opinion.

[2018-04-11 10:02] Rajrox97 commented on #4
Its not only goal setting. Basically it's a TO-Do list, with a long term feature that allows goals to be added.

[2018-04-11 10:04] #4 closed

[2018-04-11 15:19] shashank-sharma opened #7 "Need of Contribution guidelines"
As mentioned in slack earlier we need Contribution guideline so that we can keep our repository clean and avoid any conflicts between 2 people while making any PR.

I'll be working on this :)

[2018-04-11 15:50] #7 closed

[2018-04-11 15:52] pbiswas101 commented on #7
We'll soon be restructuring our repo! Everyone should then update their forked ones too in order to stay in sync!

[2018-04-11 16:07] Rajrox97 opened #10 "We will switch the whole Framework to materialise."
The whole framework will be switched to materialise which is not very different than bootstrap, but very different feel when it comes to looks. Everyone please be stay tuned and refork the repository when we announce it.

https://www.youtube.com/watch?v=nqT8c5OFjEQ&t=89s&list=PLjVyJ3LWJ8eD58MX3O_lNTmo9Z2op2RCF&index=1

A crash course on this. :)

[2018-04-11 17:23] Mayankjh opened #11 "hosting"
Can't we have this project hosted on github so that we can see the changes made live ?

[2018-04-11 17:26] pbiswas101 commented on #11
Yes, we will host this once we get the repository right!

[2018-04-11 17:52] Mayankjh commented on #11
in the current repository it is mentioned that the work will be simultaneous on bootstrap and materialize will that be carried in the new repo or we shall stick to materialize

[2018-04-11 17:54] pbiswas101 commented on #11
No, it'll be Materialize, that's the reason we're changing the repo!

[2018-04-11 18:06] user501254 opened #13 "No proper folder structure"
The folder structure is not organized.

see: [Dealing with files - Learn web development | MDN](https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/Dealing_with_files)

[2018-04-11 18:57] #13 closed

[2018-04-11 20:08] Rajrox97 opened #14 "Designing the Social Media Sidebar.(Use Materialize)"
![image](https://user-images.githubusercontent.com/25405869/38640496-0d7b24f2-3df2-11e8-8e80-ab1f383764a8.png)

The social media sidebar should preferably look like this.

[2018-04-11 20:12] Rajrox97 opened #15 "Navigation Bar should look like this."
![image](https://user-images.githubusercontent.com/25405869/38640601-61f09850-3df2-11e8-9d91-df53ffdee356.png)

Leave a feature to add extra pages using from the dropdown bar.
The navigation should be responsive.

[2018-04-11 20:20] Rajrox97 opened #16 "The Entire Landing page should be a One Page Template."
If you don't know what is one page template, please google it :)
Make sure all template uses Materialize and not Bootstrap.

One page template will give the scrolling Feature.

Page 1:
![image](https://user-images.githubusercontent.com/25405869/38640856-16d37a9e-3df3-11e8-876d-720086582f43.png)

Since it is a one page template, when we scroll down, the introduction page slides downwards. :)

Page

[2018-04-11 20:24] Rajrox97 commented on #11
No , Mayankjh, we cannot have a live version of this project untill and unless akshit sir creates one for us because we don't have settings access. :) Having said that, we have mailed him about this issue and it will be resolved soon. :)

[2018-04-11 20:24] user501254 opened #17 "Why are we using templates all of a sudden?"
Thought we had already settled on folder structure and Materialize CSS/JS framework in https://github.com/UdacityFrontEndScholarship/task-master/issues/10. Hence PR https://github.com/UdacityFrontEndScholarship/task-master/pull/12 was merged.

However the commits a26d0c5e40234cfa6b628167c76d14410e02ca14, 0ae40425abb61973ed1676431754e01e40561111, 0bee36b98da8156ef13d3451428d8b1c55c3d480 overwrite t

[2018-04-11 20:27] Rajrox97 commented on #17
The changes that you had done resulted in a broken index.html file. The file structure was organised. Yes, It was more organised than we had made it. But i am guessing that you forgot to test it.

As a result, the CSS we had linked to the file was broken and the page was broken.

Hope this helps. Let me know if you have any more questions. :D

[2018-04-11 20:28] Rajrox97 commented on #1
We will talk to Akshit Sir about this. As we do not have settings access , it is not possible to create a github pages link for now. :) But be rest assured, it will be done very very soon. Closing this issue . :)

[2018-04-11 20:29] #1 closed

[2018-04-11 20:30] #10 closed

[2018-04-11 20:31] user501254 commented on #17
Hi @Rajrox97

Thanks for reverting back. However there was no content within the `index.html` which was present in the PR, only links to the CSS and JS files. It was supposed to be modified accordingly. It wasn't broken.
Also before the merge happened the repo did not have any index.html file in the root directory.

[2018-04-11 20:33] abulhayat1 opened #18 "why you are using two versions of css"
we should remove the minified version, it will be easy to work with the normal version

[2018-04-11 20:35] Rajrox97 opened #19 "Add a wallpaper that changes with time."
Can anyone add a wallpaper that changes with time?

At t=x sec
![image](https://user-images.githubusercontent.com/25405869/38641805-b72d8956-3df5-11e8-91d9-e88afdc2636d.png)

At t=x+3 sec
![image](https://user-images.githubusercontent.com/25405869/38641854-d5a571e6-3df5-11e8-83f2-33b898a7fdde.png)

At t=6 seconds
![image](https://user-images.githubusercontent.com/25405869/38641898-f0a634d0-3df5-11

[2018-04-11 20:39] Rajrox97 commented on #18
Hi abhulhayat , we do not edit the pages in minified CSS. Its the normal version we work with. Minified is used to lessen loading times of the website.

HAving said that, you don't have to worry about the minified css.

Make changes in the normal CSS version only.Here is a link to address your doubts. :)

https://www.hanselman.com/blog/TheImportanceAndEaseOfMinifyingYourCSSAndJavaScriptAndOptimizi

[2018-04-11 20:44] user501254 commented on #19
That cannot be done with just a single conventional wallpaper. You would need multiple wallpapers and change them using CSS transition effects or using JavaScript.

[2018-04-11 20:48] Rajrox97 commented on #17
Hi @user501254

I understand that you didn't change the content of the previous index.html and organised the folders for us ,for which we are grateful  .But , as a sidenote, from now on, when you send PR , please test it before running. :) It will be easier for us both.

Also, as an update, we decided to streamline the directory because a lot of people were having trouble understanding the file st

[2018-04-11 20:50] Rajrox97 commented on #19
Hi @user501254

I understand that :) In the image folders, you will see there are three basic wallpapers just for this. :)

[2018-04-11 21:40] pbiswas101 opened #20 "Sliding images fit to fullscreen"
Make the sliding image of full viewport width and height without compromising the next sections & also add a button as shown -
![2018-04-12](https://user-images.githubusercontent.com/32795458/38644680-f5c49d9a-3dfe-11e8-9a5f-6ec555380394.png)

[2018-04-12 10:24] #18 closed

[2018-04-12 10:25] #17 closed

[2018-04-12 10:34] shashank-sharma opened #25 "Designing Profile Page view"
It is just the Frontend part of Profile page which needs to be done with the help of materialize css.

[2018-04-12 10:34] shashank-sharma commented on #25
I am interested on this issue and I'll be working on it.

[2018-04-12 13:01] prerakagarwal opened #28 "Making Login Page"
Making Login Page so that people could login from there.

[2018-04-12 13:02] pbiswas101 commented on #28
Currently, I'm undertaking the development of user-login! I'll provide the basic skeleton structure after that you go and modify it!

[2018-04-12 13:04] prerakagarwal opened #29 "Making Signup Page"
The Page from where users will be able to signup

[2018-04-12 13:31] shashank-sharma opened #31 "Need modification in Homepage | Mobile Compatible"
For mobile view it is not looking great. We need to fix this.
If anyone want to work on this please make sure you comment here that you are working on it.

![screenshot from 2018-04-12 18-59-39](https://user-images.githubusercontent.com/9320644/38680379-d073e9c6-3e83-11e8-9352-1ab0281f11c9.png)

[2018-04-12 13:42] #29 closed

[2018-04-12 14:03] nsaicharan commented on #31
Can I work on this issue?

[2018-04-12 14:40] Rajrox97 opened #33 "Navigation bar drop down should appear when we resize the page."
![image](https://user-images.githubusercontent.com/25405869/38684487-6f0b1e16-3e8d-11e8-8810-0474d2fdc1c1.png)

[2018-04-12 14:46] Rajrox97 opened #34 "Change the background transition time."
We would like you to change delay the time interval of the background image change.

I think adding a few extra seconds between intervals would be great.

[2018-04-12 14:58] Rajrox97 opened #35 "Adding Social Media Icons."
![image](https://user-images.githubusercontent.com/25405869/38685537-cd7b2f3e-3e8f-11e8-95f8-2bece981bb7c.png)

Either ADD icons of the social media in the footer, **OR** add  social media SIDEBAR.

[2018-04-12 15:01] #14 closed

[2018-04-12 15:02] #15 closed

[2018-04-12 15:03] Rajrox97 commented on #35
Go Ahead. :+1:

[2018-04-12 15:06] souro18 commented on #33
would like to work on this

[2018-04-12 15:14] souro18 commented on #33
will sidenav work for this?or it has to be a dropdown?

[2018-04-12 15:43] Adi-github commented on #35
added already please check my latest pull request

[2018-04-12 15:44] Adi-github commented on #34
Can i continue working on this?

[2018-04-12 15:50] phanindrakoka09 opened #39 "whole page is flickering when we click on nav bar icons!"
actually, when I am looking at the site and testing all the buttons I came up with this bug any idea on how to fix that flickering effect?

[2018-04-12 16:03] sahkal commented on #39
please elaborate...

[2018-04-12 16:06] phanindrakoka09 commented on #39
and now in the new site that you mentioned its not there i mean the site scrolls well !

[2018-04-12 16:06] #39 closed

[2018-04-12 16:09] #11 closed

[2018-04-12 16:10] #20 closed

[2018-04-12 16:10] yashsartanpara commented on #20
In the recent merge,  i am not able to click on down arrow.

[2018-04-12 16:24] phanindrakoka09 commented on #16
actually to address this issue we need to code in css  and it will give the desired output! do you want me to work on that !

[2018-04-12 16:42] yashsartanpara commented on #35
Current footer looks pretty broke in my system

[2018-04-12 16:56] souro18 commented on #35
yes ..same to me..and footer icons were added without a sync with master repo. please request everyone to up-to-date their repo before making a pull request . someone made one pull request without updating his repo and my contribution is deleted now.this is so not expected in git. @pbiswas101 @Rajrox97 please look into this matter.

[2018-04-12 19:05] nsaicharan commented on #31
I've made slider section of the homepage mobile compatible, but I'm not sure if it's still valid now. Am I too late?

Video - https://app.hyfy.io/v/abaLGbsH3Tn/

![tasker2 surge sh_ iphone 6_7_8 plus](https://user-images.githubusercontent.com/17238374/38698248-1377147c-3eb2-11e8-9a7b-2b0bb76cf30d.png)

![homepage3](https://user-images.githubusercontent.com/17238374/38698141-ab423fc6-3eb1-11e8-97e7

[2018-04-12 20:12] #34 closed

[2018-04-12 20:12] #19 closed

[2018-04-12 20:13] pbiswas101 commented on #28
We'll start working on login page & any other pages from next week onwards!

[2018-04-12 20:13] #28 closed

[2018-04-12 20:17] pbiswas101 commented on #25
@shashank-sharma you keep on experimenting with User Dashboard/Profile Page & do keep us updated about your progress from time to time but we won't merge any pull request other than those which are associated with **Homepage**  on this week! Do send us screenshots within the next couple of days! You can send us a pull request on next week

[2018-04-12 20:18] #35 closed

[2018-04-12 20:25] pbiswas101 commented on #31
Try to implement these design on the updated repo @nsaicharan

[2018-04-12 20:26] #16 closed

[2018-04-12 20:37] pbiswas101 commented on #33
@souro18 please go for side nav if possible 'cause it would be easier in _Materialize_!

[2018-04-12 22:54] #33 closed

[2018-04-12 22:54] #31 closed

[2018-04-13 06:30] shashank-sharma commented on #31
@pbiswas101 As mentioned earlier, it is important that the PR reference this issue. Then only close any issue. Just a good practice which needs to be followed and you need to take care that others do that too.

[2018-04-13 09:42] Rajrox97 opened #56 "Designing the Login page view."
Currently Priyabrata is assigned to bring the current framework of the page into effect.

[2018-04-13 09:57] Rajrox97 opened #57 "Designing a "Register Page""
Currently Sahkal is assigned to bring the current framework of the page into effect.

[2018-04-13 16:26] #56 closed

[2018-04-13 16:35] pbiswas101 opened #60 "The footer isn't same as the one in homepage!"
Please look into this matter as the footer in the [login page](https://udacityfrontendscholarship.github.io/task-master/login.html) lacks certain CSS stylings!

[2018-04-13 16:40] pbiswas101 opened #62 "The particle.js used in the Login Page doesn't respond to all areas!"
The **div** tag with an id of _box_ keeps blocking the effect of partcle.js in the background! Kindly look into this matter.

[2018-04-13 16:47] sahkal opened #63 "sign up page Enhancement!"
please do something in the background... make it more interactive ... manipulate particle.js  like the login page if you need to! , also provide an or between signup and google...

[2018-04-13 16:48] sahkal commented on #63
footer area should be reduced!

[2018-04-13 17:16] bhaskarSingh commented on #62
I have resolved the bug, check out the pull request

[2018-04-13 17:23] shashank-sharma opened #65 "Modification in Login Page | Mobile Compatible"
For some reason the login page div is overflowing and overlapping the footer. This needs to be fixed and also it must look nice in Mobile view. (Can be seen in Screenshot)

If you are new to Github and want to take on this issue then please do comment down and start working.

![screenshot from 2018-04-13 22-50-12](https://user-images.githubusercontent.com/9320644/38748918-6b4ce742-3f6d-11e8-9881-5

[2018-04-13 17:37] #62 closed

[2018-04-13 17:50] #60 closed

[2018-04-13 18:25] bhaskarSingh commented on #65
oh, i think that's my doing , i removed the container class to fix the bug relating to #62 it was working fine on the browers, didn't checked for the mobile sorry guys

[2018-04-13 18:26] AsthaKhurana commented on #65
@bhaskarSingh you can fix it then !

[2018-04-13 18:26] bhaskarSingh commented on #65
ok i will

[2018-04-13 18:30] shashank-sharma commented on #65
@bhaskarSingh @AsthaKhurana  Your PR was merged at 11:07 PM and this issue was opened at 10:53

So it's not your mistake, it's the bug which is originally generated by the creator of this page, So you can try to focus on real issue :D

[2018-04-13 19:53] souro18 opened #68 "log in page doesn't look good in mobile view"
![image](https://user-images.githubusercontent.com/22174074/38755179-69ad6082-3f82-11e8-8037-604f96ebabd9.png)

[2018-04-14 03:57] bhaskarSingh commented on #65
I have resolved the issue.

[2018-04-14 04:03] bhaskarSingh commented on #68
I have resolved the issue, check #71

[2018-04-14 04:31] vattytrivedi commented on #68
Check the following pull request
Login page mobile view #72

[2018-04-14 06:31] #65 closed

[2018-04-14 06:31] #68 closed

[2018-04-14 06:36] pbiswas101 opened #74 "Make the Login Form stunnigly beautiful with Animation"
For now, the login page is more or less responsive so focus on making the form itself stunning! Don't change or modify other parts (if you want to open a **New Issue** about it then do it) The form is simple, make it look good and cool!

[2018-04-14 07:23] souro18 opened #76 "login page line 149"
throwing uncaught reference error. someone familiar with particle do fix this error.

[2018-04-14 07:32] yashsartanpara commented on #76
Because stats.js is linked but it is not available.

[2018-04-14 07:51] yashsartanpara commented on #76
well, stats.js was a text file instead of js file

[2018-04-14 08:20] yashsartanpara opened #80 "Remove slider.js"
Can any mod/comod can remove or give permission to remove slider.js? because it's code is not used but it is linked in pages which is throwing error to console.

[2018-04-14 08:29] Adi-github commented on #80
wait for the latest pull
it is being added to the code
for functionality
and after that it will stop throwing the errors

[2018-04-14 09:08] #63 closed

[2018-04-14 09:09] #80 closed

[2018-04-14 12:30] shashank-sharma opened #84 "Modification in Loading animation"
It would be great if anyone can come up with better implementation to view loading div. (Can be seen in screenshot)
Currently if you will refresh, then you will notice one loading animation but it's looking great.

We can try to put whole background as white when the page is loading and then show the content.

![screenshot from 2018-04-14 17-56-01](https://user-images.githubusercontent.com/9320644

[2018-04-14 12:32] Adi-github commented on #84
it's been implemented by me
I am on it already will enhance it to meet the request
don't assign it to others as it will be just
waste to time for us

[2018-04-14 12:45] shashank-sharma commented on #84
@Adi-github  No problem, sure go ahead

[2018-04-14 14:40] #84 closed

[2018-04-14 17:00] creatorisback opened #92 "Homepage Slider UI should be better and scroll should be smooth"
There is a pending pull request from a user who has done tweaking on sliders issue no. #70
please merge so I can take a pull and fix this up

[2018-04-14 17:43] souro18 opened #94 "No introduction section in index and navbar not responsive"
![image](https://user-images.githubusercontent.com/22174074/38771019-42cc658c-4039-11e8-92c6-33ad521fe012.png)
also slider image is changing too fast

[2018-04-14 18:08] creatorisback commented on #94
Issue was fixed in pull request #91

[2018-04-14 18:31] Rajrox97 commented on #94
@creatorisback  no it was not. I am now sitting here trying to revert PR 87. :)

[2018-04-14 18:36] creatorisback commented on #94
![capture](https://user-images.githubusercontent.com/28557067/38771417-beb26802-4040-11e8-8a40-68db2e781f96.PNG)

Please visit https://creatorisback.github.io/task-master/

[2018-04-14 18:40] creatorisback commented on #94
@Rajrox97 I think nothing was wrong with #87 as it is working fine on forked repo.......if you do find an issue please let me know.

[2018-04-15 17:34] souro18 opened #100 "JS are not managed"
script are written in html files as of now. making separate js files for each page will make it more manageable .

[2018-04-15 17:34] souro18 commented on #100
want to work on it

[2018-04-15 17:42] #76 closed

[2018-04-16 02:12] bhaskarSingh opened #101 "Implementation of task-master dashboard"
I want to work on its layout

[2018-04-16 04:32] sahkal opened #102 "back-ground animation of signup, also colors are not synchronised !"
synchronised

[2018-04-16 04:51] #102 closed

[2018-04-16 04:54] sahkal opened #104 "sign up page not responsive, also glitch problem at very beginning."

[2018-04-16 06:02] Rajrox97 commented on #104
To anyone who wants to work on this, here are a few notes.
1. We like the design. Do not change the design.
     WRONG APPROACH: For example: You don't like the fonts, you change it?
     CORRECT APPROACH: Our page is not being responsive, you fix it, with all the initial design, fonts,
       and colors.

     WRONG APPROACH: You want to add a feature, you just add it.
     CORRECT APPROACH: You

[2018-04-16 06:03] Rajrox97 commented on #101
Shashank already working on this bro.

[2018-04-16 06:03] #101 closed

[2018-04-16 06:06] Rajrox97 commented on #100
@souro18  yes. We would love it,  if you want to take it up . But we were experiencing some technical difficulties that we hope to iron out within 3/4 days. Then we will work on this issue. Meanwhile, i am keeping this issue open .

Here are some guidelines that you must see.

 To anyone who wants to work on this, here are a few notes.

We like the design. Do not change the design.
WRONG APPROACH:

[2018-04-16 06:08] Rajrox97 commented on #100
I also assigned you this task.Check it in 3/4 days. :)

[2018-04-16 06:13] Rajrox97 commented on #94
@creatorisback we were experiencing some bugs in the home page after issue 86 onwards. :) i guess it was from 87 to the later issues. We wanted to be sure that everything was fine so reverted back to the last stable version . This issue we will work in some days . :)  You can fix it then. Meanwhile here are some guidelines.

To anyone who wants to work on this, here are a few notes.

We like the d

[2018-04-16 06:29] Rajrox97 commented on #92
Hi @creatorisback  we are currently closing this issue. But we have developed some technical problems and are making the site a bit stable at first. :)

Meanwhile, here are a few guidelines(also updated in the readme)

Suppose we want our page to be responsive. What does it mean?

We like the design. Do not change the design.
WRONG APPROACH: For example: You don't like the fonts, you change it?
CO

[2018-04-16 06:30] #92 closed

[2018-04-16 07:33] #74 closed

[2018-04-16 07:42] pbiswas101 opened #105 "Fix the focussed Input"
When focussing on **input section** for _email_ or _password_ there are _lines_ on either side that appears which needs to be fixed!
![2018-04-16 2](https://user-images.githubusercontent.com/32795458/38795883-48ad1282-4177-11e8-9c64-3f16a9e931e7.png)
Fix those red lines on the side!
**NOTE** - these lines only appear when you click on the input section! _Do not alter or modify other aspects of the

[2018-04-16 08:06] Adi-github commented on #105
![screenshot 41](https://user-images.githubusercontent.com/35623617/38797074-015cca4a-417b-11e8-8b8c-5c80e7eb8115.png)

it isnt showing up here

[2018-04-16 08:33] Adi-github commented on #105
Oh Just checked and fixed it !!
it will be fixed with my latest pr

[2018-04-16 18:05] creatorisback commented on #104
can we tweak things in design like i tried with signup form earlier ?
https://creatorisback.github.io/task-master/

[2018-04-16 18:09] pbiswas101 commented on #104
Don't tweak with the design!! If you can make it responsive just do that!

[2018-04-16 18:13] creatorisback opened #106 "Import framework rather using a cdn"
I would suggest not to go with CDN as if we do have to change things we'are overwriting CSS every time and importing framework will give us the flexibility to tweak that.........I

[2018-04-17 01:08] kadumuri1994 commented on #106
Can I work on this issue?

[2018-04-17 10:02] #104 closed

[2018-04-17 10:02] #94 closed

[2018-04-17 10:34] shashank-sharma commented on #106
Before we go ahead with this issue I just want to ask, Is it a good practice to change the CSS of materialize file rather than overwritting it ? If yes please provide one good explanation.

[2018-04-17 10:48] Manda7rsnt commented on #25
I wish to contribute to this issue @pbiswas101
I am working on the mockups and will be ready with the functional one soon and will keep ¥ou people updated on it as well. I'd like to be a contributor

[2018-04-17 15:53] pbiswas101 commented on #25
@Manda7rsnt currently we've assigned Shashank to provide us with the skeleton structure for the user-dashboard! After he submits the PR........you can work on that to improve UI/UX!

[2018-04-18 00:38] bhaskarSingh commented on #105
@Adi-github  when can we expect the pull request?

[2018-04-18 00:46] bhaskarSingh opened #108 "Login & signup page card not responsive for mobile device"
![screen shot 2018-04-18 at 6 12 55 am](https://user-images.githubusercontent.com/16613455/38905739-16ec1932-42d0-11e8-9244-68189fc0ccb3.png)
![screen shot 2018-04-18 at 6 13 05 am](https://user-images.githubusercontent.com/16613455/38905740-17485238-42d0-11e8-9356-4c086c70f35f.png)

The width for the mobile should be expanded

[2018-04-18 00:54] bhaskarSingh opened #109 "Index page section tag opening tag is not closed"
![screen shot 2018-04-18 at 6 21 24 am](https://user-images.githubusercontent.com/16613455/38905902-1e1bf226-42d1-11e8-87aa-6fb6fe2411a0.png)
Here there should be closing arrow

[2018-04-18 00:56] bhaskarSingh commented on #109
I can work on it, moderators pls reply

[2018-04-18 00:57] bhaskarSingh commented on #108
I can work on it, moderators should i go for it

[2018-04-18 02:12] creatorisback commented on #106
yes frameworks are there to help and make our tasks easy and customizing them can increase our productivity, let me explain with an example

Let's say we have a design system which has a certain type of inputs, buttons and navigation instead of overwriting your framework we'll customize itself in core files and now we can use elements everywhere without hesitating that design system would be viola

[2018-04-18 08:54] shashank-sharma commented on #106
There is also one term called maintainability, what if there is new version of materialize CSS available and now we want to shift all our CSS code to the new code base. How you are planning to solve this problem ? Because if we change the previous original css file to meet our condition then for this new css file we again might need to find all those elements and change each and every thing manual

[2018-04-18 13:48] #106 closed

[2018-04-18 14:14] souro18 commented on #100
Should I proceed now? @Rajrox97  @pbiswas101

[2018-04-18 14:46] pbiswas101 commented on #100
@souro18 yes you can!!

[2018-04-18 16:43] #100 closed

[2018-04-18 17:45] creatorisback commented on #106
Upgrading framework is itself a tedious task I have been doing designing past 3 years and I've never done that do you think that just by replacing CDN files we could upgrade to next version? No ! we might have to change over the large scale to adapt according to that version

Design systems are kept solid, modular and customized for maintainability and using framework's compiled files violates all

[2018-04-18 18:54] souro18 opened #115 "Improvement of profile page UI"
want to work on this.

[2018-04-18 19:04] bhaskarSingh commented on #115
What exactly do you want to work on, can be more specific

[2018-04-18 19:46] shashank-sharma commented on #115
@souro18 Can you please be more specific as if what you are trying to work on so that we can decide and let you work on it. So please add some meaningful text in description.
At the same time please refer to [Contribution guidelines](https://github.com/UdacityFrontEndScholarship/task-master/blob/master/CONTRIBUTING.md).
Why we are saying this ?
Because it will help us to evaluate your work and see

[2018-04-19 05:52] souro18 commented on #115
Proposals:
For add goal box:
- separate field for task title and description.
- add task deadline date , task-priority(drop down consisting high,medium,low which we can use to set different background colours for cards),alarm time
- alarm type(drop down consisting daily,weekly,monthly) along with other functionalities mentioned in mockup
For cards:
- add scroll feature
- add task date along with t

[2018-04-19 08:40] #108 closed

[2018-04-19 08:49] pbiswas101 commented on #115
Great @souro18
Then you keep working on this features that you've enlisted especially the _color usage_ so that it aligns with the overall theme while also keeping variations in different tasks!

[2018-04-19 19:23] bhaskarSingh opened #117 "Footer comes up with the keyboard when input field is selected on login & signup page"
![screenshot_20180419-211536](https://user-images.githubusercontent.com/16613455/39013352-c25a4478-4434-11e8-99f8-51cf77647e43.png)
![screenshot_20180419-211627](https://user-images.githubusercontent.com/16613455/39013353-c2ad451a-4434-11e8-995f-54312dd403f0.png)
The screenshot was taken from Lenovo-5inch-android os phone
also, the login& signup card is not exactly scrollable, the top part goes ov

[2018-04-19 19:53] bhaskarSingh commented on #117
make sure to try running the login & signup page on an actual device to get the idea of the issue

[2018-04-20 07:48] Manda7rsnt commented on #115
I would also want to work on this  :)

[2018-04-20 11:28] Manda7rsnt opened #118 "Proposing a Material Design Revamp for the Home Page layout (Retina ready)"
# **Proposal for a revamped Material Design Responsive Home Page**

### I propose the following changes to the current build as I feel I can contribute in the design and overall aesthetics of **TASKMASTER**.

1. **One Pager Website** : Although the current homepage is a one pager, but to make it more interactive I would like to convert it to a more clean **_material theme_** while maintaining the

[2018-04-20 11:34] Manda7rsnt commented on #118
@user501254 @shashank-sharma @omtripathi786 @vattytrivedi @DeepPurohit
Can I request for the link to this project's Slack channel ?

[2018-04-20 11:49] shashank-sharma commented on #118
@Manda7rsnt The issues which you mentioned have some enhancement as well as fixing bugs. If you are planning to work on this, then I suggest you to go 1 at a time and make PR regarding to that issue. Materialistic theme is our main approach. I agree with these points:
1. Introduction section enhancement
2. Contact section with more interaction (second one)
3. Footer enhancement
4. Image selection

[2018-04-20 11:55] Manda7rsnt commented on #118
@shashank-sharma yes I'll start working on these right away.

Focus being :
Sticking to Materialistic Theme
Section Enhancements
Image Selection (Including Logo)

and Yes, I'll be taking it one step at a time and make PRs accordingly.
Thank You

[2018-04-20 19:06] sskanishk opened #120 "Homepage doesn't Looks Attractive, Check Out this!"
# Check Out Both.!
![webpage](https://user-images.githubusercontent.com/29313203/39068373-bd38c60c-44f9-11e8-905a-2fa0f744ffe3.png)

![screen shot 2018-04-20 at 8 29 23 pm](https://user-images.githubusercontent.com/29313203/39058527-b8ba6e16-44d9-11e8-8c35-6a25b404d1de.png)

[2018-04-20 19:42] shashank-sharma commented on #120
Hi @sskanishk
Your issue is related to enhancement in current home page. But can you please elaborate a bit more about your issue ?

I mean what are the components of homepage which you dislike right now (with reason) and what you are planning to fix it. I hope it is reasonable to ask these things.

[2018-04-21 00:31] bhaskarSingh commented on #120
The new design does look better, I think we should go with it

[2018-04-21 05:25] amarjeetsingh1999 opened #121 "Size of Submit button on homepage"
![image](https://user-images.githubusercontent.com/35170799/39080721-241c0188-4552-11e8-88e8-037397f22a28.png)

The size of the submit button in the contact section of homepage looks inappropriate. It should be small and centre aligned or aligned to the right under the feedback input.

[2018-04-21 05:53] amarjeetsingh1999 commented on #121
![image](https://user-images.githubusercontent.com/35170799/39080981-6bac62c8-4556-11e8-9a70-0fbfd7638de8.png)
This way.

[2018-04-21 12:07] abhishekakade commented on #121
Can I take this one?

[2018-04-21 12:35] shashank-sharma commented on #121
@abhishekakade Sure, you can work on this, seeing the size of the button it is not looking good.

[2018-04-21 13:52] Rajrox97 commented on #120
@bhaskarSingh @sskanishk The new design may look better, but we are aware that our background images are not up to the mark. So we never know how the background image will look when we come up with the new background image.

And there will be some modification of the homepage , but some.

As, @shashank-sharma shashank pointed out, can you please  elaborate a bit more about your issue?

[2018-04-21 13:58] Rajrox97 commented on #117
Hi @bhaskarSingh  i have seen the issue. You can go ahead and work on this, as long as the design remains same.

[2018-04-21 14:29] amarjeetsingh1999 commented on #121
@abhishekakade  actually i have made this change already and will submit PR soon.

[2018-04-21 14:51] abhishekakade commented on #121
@amarjeetsingh1999, ohh okay, I thought you were one of the mods/co-mods and were posting issues. Sorry :sweat_smile:

[2018-04-21 15:03] amarjeetsingh1999 commented on #121
@abhishekakade i am also just a contributor for these collaborative projects

[2018-04-21 21:25] sskanishk commented on #120
**Sure!** @shashank-sharma @bhaskarSingh @Rajrox97
# we can change the contact box from dominating black to white.
![screen shot 2018-04-22 at 2 47 38 am](https://user-images.githubusercontent.com/29313203/39088902-745ba0be-45d8-11e8-9b78-95d7b1b42e5d.png)

[2018-04-22 08:37] nsaicharan commented on #117
Can I work on this issue?

[2018-04-22 08:43] pbiswas101 commented on #117
@nsaicharan yes you can work on this issue but while fixing don't alter other principles e.g. responsiveness!

[2018-04-22 10:03] Saichethan opened #125 "Backend for dashboard"
How are we going to authenticate a user and how will we generate automatically after signup what is the backend for this

[2018-04-22 11:40] shashank-sharma commented on #125
Hi @Saichethan
Currently there other moderators who are experienced in PHP will work on this.
Without any proper structure/layout we can't open this issue right now. Please currently open issues related to Frontend only and then later when our Frontend work is almost done then we will start implementing it.
Since this issue is not related to any Frontend work, I am closing this issue. For further

[2018-04-22 11:40] #125 closed

[2018-04-22 15:11] shashank-sharma commented on #120
@sskanishk
In future I suggest you open issue related to specific component rather than opening it for whole page like this here you are talking about Homepage.
The problem is that you created a new UI for contact form but there is also one issue which states that the button size should be small.
Now if I accept either one of your PR then it will conflict with your changes which is bad.

[2018-04-22 15:32] sskanishk commented on #120
Next time I will take care of it...  @shashank-sharma

[2018-04-22 15:41] #120 closed

[2018-04-22 15:54] Rajrox97 commented on #118
@Manda7rsnt
Also, to add to shashank's point, i would like to say that instead of bringing in new designs, you can upgrade our current designs to **_Latest Industrial standards_**.

For example, i have seen that your new contact form is a complete new design. If you think that you can make our current design better , go ahead, i would discourage complete revamps of specific portions .

With that b

[2018-04-22 15:56] Rajrox97 commented on #118
And also, Teal would be the color . Not Turquoise.

Also. check out our primary color palette in our readme

[2018-04-23 12:52] #117 closed

[2018-04-23 18:25] bhaskarSingh opened #130 "Modified tasks card"
Added shades of black according to task priority & scroll bar to task cards
link: https://bhaskarsingh.github.io/task-master/profile

[2018-04-24 04:25] cTxplorer opened #132 "Wrong hyperlinks in README.MD"
Table of content has two anchor tags with incorrect links to 'Probable Front End Work' & 'Probable Back End Work'.

[2018-04-24 06:31] #132 closed

[2018-04-24 06:49] pbiswas101 commented on #130
Great @bhaskarSingh it looks nice but I suggest if you can improve the UI a bit more then it would be awesome so as to include those major changes as well!

[2018-04-24 07:00] bhaskarSingh commented on #130
What major changes?

[2018-04-24 12:06] RatnadeepBiswakarma opened #134 "The user dashboard page has some bug, seems not responsive."
![responsive problem](https://user-images.githubusercontent.com/36644040/39185787-fbe8171a-47e5-11e8-8eb6-e7409585f7cc.PNG)

[2018-04-24 14:56] souro18 commented on #134
Just wondering if there is any device with that dimension

[2018-04-24 17:36] shashank-sharma commented on #134
Hi @RatnadeepBiswakarma
I am not able to generate this bug in my Chromium browser as well as Firefox. It is working fine. If possible can you please recheck and then send screenshot. We expect you to select "Responsive Site Mode" and then refresh the page. If then you will see the same error then let us know.

Also you can try to open this page from your Mobile. If in your mobile you see any bug t

[2018-04-25 02:45] RatnadeepBiswakarma commented on #134
Oh its ok after refreshing the page. Thanks @souro18 @shashank-sharma

[2018-04-25 02:45] #134 closed

[2018-04-25 04:28] goss-gowtham commented on #121
Why don't we make icons as Placeholder and (First name and stuffs) as Title for input boxes, So that Input box will look clean and well shaped, and ofcourse, size reduced.

[2018-04-25 14:17] ESHA1998 opened #135 "Regarding mail us input on footer of index.html"
Hi! The input in the Mail Us section of footer is taken in black colour which reduces the visibility. This can be improved and would look better if made center-aligned. this would improve UI experience.
currently, it looks like this
![error](https://user-images.githubusercontent.com/30546596/39251536-2e716cfa-48c1-11e8-9e61-607b4924452b.png)
But it can be modified to-
![resolved](https://user-imag

[2018-04-25 15:07] souro18 opened #136 "Why Task Master section is not responsive"
![image](https://user-images.githubusercontent.com/22174074/39254666-47355056-48c8-11e8-8a94-b3a3154f16e4.png)
Can I fix this?

[2018-04-25 15:41] souro18 opened #137 "slider images are different for mobile view and laptop view."

[2018-04-25 15:52] pbiswas101 commented on #135
@ESHA1998 yes you can work on it!!

[2018-04-25 15:56] pbiswas101 commented on #136
@souro18 currently another person is working on the responsiveness of **Why TaskMaster?**
But you can upload the video to your youtube channel and include it in _iframe_ tag! If it looks better we'll provide you with an official youtube channel for **TaskMaster**!

[2018-04-25 15:58] pbiswas101 commented on #130
Major changes such as PR #133 ......if you can come up with some ideas?? @bhaskarSingh

[2018-04-25 16:31] ESHA1998 commented on #135
Changes committed!!

[2018-04-25 16:49] Manda7rsnt commented on #118
Hi I will be posting the final successive PRs over the next 36-48 hours. Thanks for the patience, appreciate that.

[2018-04-26 04:45] pbiswas101 commented on #135
@ESHA1998 provide a live link to your changes!

[2018-04-26 04:46] #105 closed

[2018-04-26 09:27] souro18 commented on #136
https://souro18.github.io/task-master/index.html
@pbiswas101 @Rajrox97

[2018-04-26 11:37] ESHA1998 opened #140 "zoom the contents of navbar on hovering"
Hi! The contents in the navbar(home,introduction,why taskmaster and contact) can be increased in size when hovered upon to improve the UI experience.
eg-currently it looks like this upon hovering on introduction.
![err2](https://user-images.githubusercontent.com/30546596/39303473-e5ce30ce-4973-11e8-8d23-3d871406cc7f.png)

it can be changed to
![res2](https://user-images.githubusercontent.com/30546

[2018-04-26 12:33] Rajrox97 commented on #137
@souro18  Can you please elaborate a bit more on this issue?

[2018-04-26 12:37] Adi-github opened #141 "footer fix on login page"
footer section have multiple issues like it rises up with keyboard
having white padding at bottom

[2018-04-26 12:37] Adi-github commented on #141
i am working on this

[2018-04-26 12:38] Rajrox97 commented on #136
@souro18  Aditya Sharma is working on the responsiveness of the why taskmaster section. Good job with the video.

IT would be great if you could include the video on the left hand side and Align the "Introduction" heading above the paragraph. You will notice that the Introduction heading is currently center aligned.

[2018-04-26 12:41] Rajrox97 commented on #140
I think we can do with the current UI . But,i am sure that there might be other issues which you may find suitable to work on.

[2018-04-26 12:41] #140 closed

[2018-04-26 12:45] souro18 commented on #137
Notice the slider images in laptop/desktop view(newly added by priyabrata ) and then switch to mobile view. You will notice that in mobile view the images are different(old one)

[2018-04-26 13:06] souro18 commented on #136
You mean like this one?

![image](https://user-images.githubusercontent.com/22174074/39307399-53a8bd24-4980-11e8-821e-8481ea895183.png)

Or this one?
![image](https://user-images.githubusercontent.com/22174074/39307481-8a014968-4980-11e8-948f-5dc8c50977e3.png)
@Rajrox97

[2018-04-26 13:46] ESHA1998 commented on #135
yeah sure!!
https://ESHA1998.github.io/

[2018-04-26 13:47] pbiswas101 commented on #135
@ESHA1998 your repo is not up-to-date, sync it and then make a PR with all your commits squashed into one!

[2018-04-26 14:10] ESHA1998 commented on #135
oh! okay. will work on it

[2018-04-27 12:57] pranav-singhal opened #143 "query regarding backend"
Hey !
i wanted to contribute to the backend of this project. Can you please tell me which technology you would like for it to be in?
I have worked with node.js and Ruby on Rails.

[2018-04-27 14:14] pbiswas101 commented on #143
Pranav we've already decided PHP & MySql as our backend technology as most of our moderators (excluding me) are comfortable using these! As I understand the technology that we've chosen after several discussions, is final! So, if you are willing to contribute towards the backend I guess PHP is the one through which you should contribute.

[2018-04-29 02:46] Rajrox97 commented on #136
hi @souro18  The first one would be great.

[2018-04-29 02:48] #130 closed

[2018-04-29 02:48] #115 closed

[2018-04-29 18:04] #141 closed

[2018-04-30 08:30] aartigurjar opened #149 "'Deadline date', 'Alarm time' and 'Attachments' icons not functional in 'Add New Task' section of Profile page"

[2018-04-30 09:54] #149 closed

[2018-04-30 10:43] i-shubhamprakash commented on #137
Hi @souro18 , Can you please provide some screenshots to clarify exactly what the issue is.

[2018-04-30 11:08] i-shubhamprakash opened #151 "Contact section input field "First Name" and submit button width."
1. A slight change in "**First Name**" to "**Your Name**" in the contact section.
2. Submit button to too big, it might be a little less in width so that it looks better.

![taskmaster](https://user-images.githubusercontent.com/28767301/39424215-269122ac-4c93-11e8-9683-0ad6385bb6e4.png)
Should I work on this and change this?

[2018-04-30 12:08] bhaskarSingh commented on #151
@i-shubhamprakash you can also give a little padding inside the edit boxes as its sticking to the left which doesn't look, just a suggestion.

[2018-04-30 14:07] i-shubhamprakash commented on #151
Yes, it should have a little padding. I'll try to fix it.

[2018-04-30 16:33] pbiswas101 commented on #151
@sahkal is already working on the contact form!
It's great that you've raised the issue @i-shubhamprakash

[2018-04-30 16:55] amarjeetsingh1999 commented on #151
@shashank-sharma , @Rajrox97  i already fixed the issue of width of submit button in my PR #138 and it was also successfully accepted. Then how's it  that the size of button has again become inappropriately long?

[2018-04-30 17:58] i-shubhamprakash opened #153 "Issue: No left padding in the text area in contact section."
There is **no padding** in the text input area on the contact section which does not look appropriate. Please look at the image below-
![no padding](https://user-images.githubusercontent.com/28767301/39442196-14395922-4cce-11e8-8425-82636e39a9b7.png)
Can I fix this issue?

[2018-04-30 18:16] i-shubhamprakash commented on #151
@amarjeetsingh1999  I have attached an image there, you can see how it is looking now.

[2018-05-01 12:29] #151 closed

[2018-05-01 12:32] Rajrox97 commented on #137
@souro18 go ahead and make the mobile version like the desktop one.

[2018-05-01 12:36] #136 closed

[2018-05-01 12:37] Rajrox97 commented on #135
Idle issue. Closing it.

[2018-05-01 12:37] #135 closed

[2018-05-01 12:41] Rajrox97 commented on #137
This issue is already resolved in an upcoming PR.

[2018-05-01 12:41] #137 closed

[2018-05-01 15:11] aartigurjar opened #155 "There is no 'Forgot password' page"
Clicking on the 'forgot password' link on the login page, takes the user nowhere.

[2018-05-02 16:33] seethaR03 commented on #155
Is this still open?

[2018-05-03 05:54] #153 closed

[2018-05-03 08:00] amarjeetsingh1999 opened #161 "Size of submit button under contact section"
I previously submitted a pull request to resolve this issue and it was accepted and the issue got fixed. But after some new commits in this project, the issue has emerged again maybe due to some merging of some PR which had conflicts. So i again want to submit a PR with this issue fixed. Mods or Co-mods please approve this and assign it to me so that i can go on to submit the PR.
The screenshot of

[2018-05-03 12:49] vamsikrishnareddybevara opened #164 ""CONTACT" navigation bottuon problem..."
Guys, i found an issue regarding navigation button...
when clicking on the contact button...  the page isn't scrolling down to contact section..
But, it is working fine with other navigation buttons...
I just raised the issue..i am new to web development..
so i am not doing it..it's open for anyone

[2018-05-03 13:38] #164 closed

[2018-05-03 19:16] sskanishk opened #166 "there should be filter on tasks list..."
### there should be filter on adding tasks...
**how can a person can differentiate tasks?**
**if number of task reached above 20-30.**

- office

- household / domestic

- family

- loan

- health, etc...

[2018-05-03 19:37] sskanishk opened #167 "Mail us: input text should be in white colour (footer)"
**here care@taskmaster.com should in white colour.**

![screen shot 2018-05-04 at 1 03 07 am](https://user-images.githubusercontent.com/29313203/39598714-20573600-4f37-11e8-81e1-1b04f1a39ee7.png)

[2018-05-04 06:39] #167 closed

[2018-05-04 06:40] #166 closed

[2018-05-04 23:39] utkarsh2102 opened #169 "Hover Effect on Social Media links and other links on the footer."
It'd be to nice to have a hover effect on the social media links and the other things on the footer.
Plus, we can have a darker hover effect on the buttons. It'd look better that way.
Let me know if you consider this, I'll make a PR for the same.
CC : @pbiswas101 @Rajrox97 @sahkal and other mods and co-mods.

[2018-05-05 08:55] utkarsh2102 commented on #169
Got confirmation from @pbiswas101. I'm working on the same.

[2018-05-05 09:26] Rajrox97 commented on #169
@utkarsh2102  Don't change effect on the buttons.  You can add hover effect on social media links.

[2018-05-05 14:16] utkarsh2102 commented on #169
As you say @Rajrox97.
But the hover effect on the buttons on the footer isn't really visible. I can just change the opacity or the z-index to make it visible. Let me know if I should or not :)

[2018-05-05 22:50] sumilmehta opened #171 "No Validation and No Emailing Feature"
There is no validation in the in feedback form. Also, I added a little php code for email functionality.
I tried to send a pull request but was denied access. I am attaching the files here

[New folder.zip](https://github.com/UdacityFrontEndScholarship/task-master/files/1977156/New.folder.zip)

[2018-05-06 03:27] Rajrox97 commented on #171
PR's(except those which are already assigned) will not be accepted.

[2018-05-06 03:27] #171 closed

[2018-05-08 10:56] mmnauman opened #174 "Navbar at the top and Footer subscription form styling"
The background of the Navbar should be transparent as it is not standing out with slider.

Please add a the placeholder text like **Enter Your Email** and the Font-text also is black and the background also is dark so please change it to white.
![mail us](https://user-images.githubusercontent.com/23205151/39753452-77ee40e0-52dc-11e8-91be-066e0e5a2505.PNG)

Footer background is not appealing.

[2018-05-08 12:41] nehavatsyan commented on #174
Is this issue assigned to someone ? if not can i work on it

[2018-05-08 14:09] pbiswas101 commented on #174
Yes @mmnauman we're getting rid of the mail us section as that seems redundant given that we do have a **Contact** section!
This removal will be addressed by Aditya in his next PR!
So, there is no question of placeholder!!

[2018-05-08 14:09] #174 closed

[2018-05-08 20:30] amarjeetsingh1999 opened #175 "Automatic scroll on clicking on Contact in the header"
On clicking on "Contact" in the header of the homepage, the page doesn't automatically scroll down to Contact section as it does for "Introduction" and "Why Taskmaster".
I could fix this issue if approved by @mods or @co-mods

[2018-05-11 02:04] vattytrivedi opened #177 "Open source license"
Please include an open source license to the project that is a good project can be followed in the project.
Below are few licenses that are used in the major repositories.

- MIT licence
- GPL license

[2018-05-11 13:05] vattytrivedi opened #178 "favicon icon for the website"

[2018-05-11 15:03] sskanishk opened #179 "(minor error) improper placing of phone ui image"
![screen shot 2018-05-11 at 8 32 06 pm](https://user-images.githubusercontent.com/29313203/39931250-75f12552-555a-11e8-905e-9dc67c64fc29.png)

Can I work on it?

[2018-05-11 17:10] Rajrox97 commented on #179
i have noticed this when we go to desktop view in a mobile phone. But never have i seen it from a mobile itself. Can you send a ss from your mobile?

[2018-05-11 19:26] Rajrox97 commented on #178
Please provide what icon you want to upload as a favicon?

[2018-05-12 06:17] vattytrivedi commented on #178
Favicons:

![taskmaster-1](https://user-images.githubusercontent.com/14287645/39954268-338673e0-55da-11e8-8af8-41ee70554d06.jpg)
![taskmaster-2](https://user-images.githubusercontent.com/14287645/39954269-34016e38-55da-11e8-838f-e2d30c38a22b.png)
![taskmaster-3](https://user-images.githubusercontent.com/14287645/39954270-344b1416-55da-11e8-855f-931a30e5b593.png)

[2018-05-12 11:34] vattytrivedi opened #181 "Improve SEO to appear in first tem results of Google search for keywords task-master"
Improve the SEO tags and make udabuddy more visible in Google search results. Optimise code by minifying, images, etc.

[2018-05-12 12:21] vikkrantxx7 opened #182 "Add navbar hover effects, logo effect, logo scrollTop animate"
- Logo effect
- [ ] ![task1](https://user-images.githubusercontent.com/37444378/39957162-d11f2044-560b-11e8-974a-0627fbe42dfe.gif)
- Hover effect
- [ ] ![task2](https://user-images.githubusercontent.com/37444378/39957170-1c60184c-560c-11e8-95e9-96ab0bfa2729.gif)
- Hover effect
- [ ] ![task3](https://user-images.githubusercontent.com/37444378/39957177-2b413a8a-560c-11e8-920d-271b71b716e8.gif)
- Log

[2018-05-12 12:53] #155 closed

[2018-05-12 12:54] #182 closed

[2018-05-12 12:55] #181 closed

[2018-05-12 12:57] Rajrox97 commented on #178
Nah I think we can do without a favicon at the moment.

[2018-05-12 12:57] #178 closed

[2018-05-12 12:59] #169 closed

[2018-05-12 14:16] vikkrantxx7 commented on #182
#Rajrox97 please try to give reasons on closing.

[2018-05-12 14:27] Rajrox97 commented on #182
We had announced some days ago that we won't be accepting PRs except the
ones that are already assigned to some folks. It's because our backend is
being deployed and we don't want to make major changes here anymore.

And usually when I close an issue or PR I label it . Since it's an
enhancement that you are making and not a major fix , I guess closing down
the issue means the enhancement is best n

[2018-05-12 14:42] sskanishk commented on #179
@Rajrox97
### yup its good in mobile, but in Chrome DevTool having same problem
.
.

![whatsapp image 2018-05-12 at 8 04 53 pm](https://user-images.githubusercontent.com/29313203/39958419-228e6700-5620-11e8-8938-5ee5b2cbdbc4.jpeg)

![screen shot 2018-05-12 at 8 09 28 pm](https://user-images.githubusercontent.com/29313203/39958435-667fefba-5620-11e8-9628-306cb914b337.png)

[2018-05-14 17:44] #179 closed

[2018-05-16 05:38] vivek1996 opened #187 "Jquery is served over Http"
The jQuery is served over http which is blocked by chrome.
**Mixed Content: The page at 'https://udacityfrontendscholarship.github.io/task-master/' was loaded over HTTPS, but requested an insecure script 'http://code.jquery.com/jquery-3.3.1.min.js'. This request has been blocked; the content must be served over HTTPS.**
Change it to Https to remove the error.

[2018-06-07 20:07] sanchit0496 opened #189 "Unresponsive welcome page and text overflowing"
The welcome page is quite unresponsive on mobile devices. Also, padding and margin can be used in a better way. This will give a professional touch to the welcome page.

I've made some similar sort of page before. Have a look here https://github.com/sanchit0496/FrontEnd_Projects/tree/master/LandingPage01

If the moderators approve, I'll commit the necessary modifications

[2018-06-11 18:09] ribasu97 commented on #189
Heey @sanchit0496 Sanchit! :) Please attach screenshots of the mentioned issues first. :)

[2018-06-12 07:12] sanchit0496 commented on #189
![gi1](https://user-images.githubusercontent.com/32457437/41275221-cc69c136-6e3d-11e8-92dc-8ed7dbfb3381.JPG)
![gi2](https://user-images.githubusercontent.com/32457437/41275223-ccd9bb08-6e3d-11e8-8237-a178c9f9ed52.JPG)
![gi3](https://user-images.githubusercontent.com/32457437/41275225-cd1bb2c4-6e3d-11e8-837f-61806dc9550b.JPG)
![gi4](https://user-images.githubusercontent.com/32457437/41275227-cd5f7a

[2018-06-17 05:45] ribasu97 commented on #189
Yes, i figured. Thing is , we didn't follow the design principles of "Designing from small to large" as it is given in the nanodegree . The contributors and moderators just checked it on their devices and it seemed to be okay. So i think since we are not planning to revamp the project, i will just let it pass.

[2018-06-17 05:45] #189 closed, assigned to nobody

[2018-09-07 18:50] #187 closed, assigned to nobody